:root {
    --text-color: #1a1c20;
    --link-color: #5f1cb6;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto; 
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a span {
    margin-left: 5px; 
}

/* INTRODUCTION */

.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    margin: 50px 0;
    margin-bottom: 50px;
    gap: 40px;
    background-color: black;
}

.intro-section .text {
    color: var(--background-color);
    flex: 5;
}

.intro-section .text h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.intro-section .text p {
    margin-bottom: 10px;
}

.intro-section .text .links { 
    margin-top: 25px;
}

.intro-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    color: var(--background-color);
    border: 2px solid var(--background-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}

.intro-section .text .links a:hover {
    color: rgb(188, 138, 221);
    border: 2px solid rgb(188, 138, 221);
}

.intro-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.intro-section .headshot img {
    width: 400px;
    height: auto;
    filter: saturate(0.7);
}

/* TOOLS */

.tools-section {
    padding: 0 50px;
    margin-bottom: 200px;
}

.tools-section h2 {
    font-size: 35px;
    text-align: center;
}

.tools-section .tab-wrap {
    transition: 0.3s ease;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: var(--background-color);
    margin: 40px 0px;
}

.tools-section .tab-wrap input {
    display: none;
}

.tools-section .tab-wrap label {
    border: 1px solid #d3d3d3;
    cursor: pointer;
    display: flex;
    justify-content: left;
    font-size: 24px;
    transition: 0.3s background-color ease;
    padding: 20px;
    margin: -0.5px 0px;
    &:hover {
        background-color: #f9f9f9;
    }
}

.tools-section .tab-wrap img {
    height: 30px;
}

.tools-section .tab-wrap label .latex {
    height: 15px;
}

.tools-section .tab-wrap h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.tools-section .tab-wrap ul {
    margin-bottom: 5px;
}

.tools-section .tab-wrap .tab__content {
    opacity: 0;
    overflow-y: scroll;
    position: absolute;
    left: 69px;
    height: auto;
    max-height: 200%;
    width: 95%;
    padding: 40px 50px;
}

.tools-section .tab-wrap .tab:first-of-type:checked ~ .tab__content:first-of-type,
.tools-section .tab-wrap .tab:first-of-type:checked + label:first-of-type{
    opacity: 1;
    background-color: #ccc2db;
}

.tools-section .tab-wrap .tab:nth-of-type(2):checked ~ .tab__content:nth-of-type(2),
.tools-section .tab-wrap .tab:nth-of-type(2):checked + label:nth-of-type(2){
    opacity: 1;
    background-color: #ccc2db;
}

.tools-section .tab-wrap .tab:last-of-type:checked ~ .tab__content:last-of-type,
.tools-section .tab-wrap .tab:last-of-type:checked + label:last-of-type{
    opacity: 1;
    background-color: #ccc2db;
}

/* RESULT */

.result-section {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.result-section p:first-of-type {
    font-size: 20px;
}

.result-section ul {
    padding: 0px 50px;
}

.result-section img {
    width: 100%;
}

.result-section .data {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.result-section .data img {
    align-self: center;
    min-width: 300px;
}


.result-section p:last-of-type {
    font-size: 20px;
    margin-bottom: 30px;

}

.result-section .comparison {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 0px;
}

.result-section .comparison img {
    align-self: center;
    max-width: 40%;
    object-fit: contain;
}

.result-section .comparison .wide {
    max-width: 100%;
    height: 300px;
    width: auto;
}

 .result-section .comparison .tall {
    max-width: 100%;
    height: 300px;
    width: auto;
 }

 .result-section .comparison .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
 }

 .result-section .demo {
    display: flex;
    gap: 100px;
 }

 .result-section .lineplot {
    width: auto;
    height: 600px;
 }

 .result-section .form {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin-bottom: 300px;
 }

 .result-section .form input {
     font-family: 'Karla', sans-serif;
     border: 2px solid #ccc2db;
     border-radius: 5px;
     background-color: transparent;
     padding: 10px;
     margin-bottom: 15px;
     outline: none;
     resize: none;
 }
 
 .result-section .form button {
     font-family: 'Karla', sans-serif;
     font-size: 16px;
     background-color: #ccc2db;
     border: none;
     border-radius: 5px;
     height: 50px;
     cursor: pointer;
     
 }

/* CODE */

.code-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 50px;
    background-color: black;
}

.code-section .text {
    flex: 4;
    color: var(--background-color);
    position: relative;
}

.code-section .text h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.code-section .text code {
    padding: 15px 10px;
    position: absolute;
    color: white;
    border: 2px solid white;
    width: 100%;
    overflow: hidden;
}

.code-section .text code::after {
    content: "View on Github";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding: 10% 0%;
    color: var(--text-color);
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.code-section .text code:hover::after {
    opacity: 1;
  }


.code-section .headshot {
    flex: 2;
    display: flex;
    justify-content: left;
}

.code-section .headshot img {
    width: 100%;
    height: auto;
    filter: saturate(0.7);
}

@media (max-width: 800px) {
    /* INTRODUCTION */
    .intro-section {
        flex-direction: column-reverse;
    }

    .intro-section .headshot img {
        width: 300px;
        height: 300px;
    }

    /* RESULT */
    .result-section .data {
        flex-direction: column;
    }

    .result-section .inquiry .comparison {
        flex-direction: column;
        padding: 10px 0px;
        gap: 10px;
    }

    .result-section .demo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result-section .demo .form {
        width: 200px;
        margin-bottom: 0px;
    }
    
}

@media (max-width: 600px) {
    /* NAVBAR */
    nav {
      padding: 0 20px;
    }
  
    nav .right a {
      font-size: 22px;
    }
  
    nav .right a:last-child {
      color: var(--text-color);
      background-color: transparent;
      padding: 0;
    }
  
    nav .right a span {
      display: none;
    }

    /* INTRODUCTION */
    .intro-section {
        padding: 20px 20px;
    }

    .intro-section .text h2 {
        font-size: 30px;
    }

    /* TOOLS */
    .tools-section {
        padding: 0 20px;
        max-width: 90%;

    }

    /* RESULT */
    .result-section {
        padding: 50px 20px;
    }

    /* CODE */
    .code-section {
        padding: 50px 20px;
    }

    .code-section .text {
        overflow: hidden;
    }

    .code-section .text h2 {
        font-size: 30px;
    }

}